{% extends "layout.html" %}

{% block title %} {{encuesta.title}} {% endblock %}

{% block content %}

<article>
    <h2>{{ encuesta.title }}</h2>
    {{ encuesta.description}}
    <section>
        {% for persona in encuesta.persona_set.all %}
            <h3>
                <a href="{% url 'menuUno:persona_detail' encuesta_pk=persona.encuesta.pk persona_pk=persona.pk %}">{{persona.name}}</a>
            </h3>
            {{ persona.redSocialUno }}
        {% endfor %}
    </section>    
</article>
    

{% endblock %}