{% extends "layout.html" %}

{% block title %}  {% endblock %}

{% block content %}
<div class="cards">
    <div class="card">
        <header> Nombre: {{ persona.nombre }} {{ persona.apellido }} </header>
        <div class="card-copy">
            Teléfono celular:{{persona.celular|linebreaks }}
            Teléfono :{{persona.telefono|linebreaks}}
            Email: {{persona.email|linebreaks}}
            Información: {{persona.info|linebreaks}}
        </div>      
    </div>
</div>
{% endblock %}