{% extends "layout.html" %}

{% block title %} Detalles cliente {% endblock %}

{% block content %}
<div class="cards">
    <div class="card">
        <header> Nombre: {{ persona.nombre }} {{ persona.apellido }} </header>
        <div class="card-copy">
            Teléfono celular:{{persona.celular|linebreaks }}
            Teléfono: {{persona.telefono|linebreaks}}
            Email: {{persona.email|linebreaks}}
            Información: {{persona.info|linebreaks}}
        </div>      
    </div>
</div>

<div class="cards">
        {% for nota in persona.nota_set.all %}
            <div class="card">
                    <header>
                        <a href="{% url 'menuUno:nota_detail' persona_pk=nota.person.pk nota_pk=nota.pk%}">Número: {{nota.auto_id_nota}}</a>
                    </header>
                <div class="card-copy">
                    Fecha y hora de ingreso: {{nota.created_at|date:"M d, Y. h:m:s"|linebreaks}}
                    Tipo de nota:{{nota.tipo|linebreaks }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}