{% extends "layout.html" %}

{% block title %} Clientes - Reset Systems {% endblock %}}

{% block content %}
    <div class="cards">
        {% for persona in personas %}
            <div class="card">
               <header>Nota:{{persona.auto_id_cliente}} {{persona.nombre}} {{persona.apellido}}</header>
                <div class="card-copy">
                    Teléfono celular:{{persona.celular|linebreaks }}
                    Teléfono :{{persona.telefono|linebreaks}}
                    Email: {{persona.email|linebreaks}}
                    Información: {{persona.info|linebreaks}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}