{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet", href="{% static 'css/layout.css' %}">
</head>
<body>
    <div class="site-container">
        <nav>
            <a href="{% url 'home' %}">Apprende - Home</a>
            <a href="{% url 'menuUno:encuesta_list' %}">Encuestas</a>

        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>