{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet", href="{% static 'css/layout.css' %}">
</head>
<body>
    <div class="site-container">
        <nav>
            <a href="{% url 'home' %}">Home Notas Reset</a>
            <a href="{% url 'menuUno:persona_create' %}">Registrar cliente</a>
            <a href="{% url 'menuUno:nota_create' 1%}">Crear Nota</a>
            <a href="{% url 'menuUno:item_create' 3 1 %}">Agregar item</a>
            <a href="{% url 'menuUno:persona_list' %}">Lista de clientes</a>
            <!-- <a href="{% url 'menuUno:nota_list' %}">Lista de Notas</a> -->
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>